.Quiz{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: rgba(76, 106, 255, 0.44);
}

.Quiz h1{
  color: #a90329;
  margin-left: 10px;
}

.QuizWrapper{
  width: 600px;
}
