.FinishedQuiz{
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;
}

.FinishedQuiz ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.FinishedQuiz ul il i{
  margin-left: 10px;
}

.success {
    color: rgba(0, 255, 0, 0.85);
}

.error {
    color: rgba(255, 0, 0, 0.73);
}
