.AnswerItem {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.AnswerItem:hover {
    background: rgba(255, 255, 255, .7);
    transition: background .3s ease-in-out;
}

.AnswerItem.success {
    background: rgba(0, 255, 0, 0.85);
}

.AnswerItem.error {
    background: rgba(255, 0, 0, 0.73);
}
